on:
  push:
    branches:
      - master
      - next
    tags:
      - 'v*'
  pull_request:
    branches:
      - master
      - next

permissions:
  contents: write

name: Build robot

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        java: [ 17, 21, 25 ]
    name: Java ${{ matrix.java }}
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # To make git describe give the intended output
          fetch-tags: true
      - name: Setup java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: zulu
          cache: maven
      - run: ./mvnw --no-transfer-progress -P exe -B -U -T1C verify

      - name: Deploy to Maven repository
        if: (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/next' || github.ref == 'refs/heads/master') && matrix.java == '17'
        uses: martinpaljak/maven-ssh-deploy@v1
        with:
          user: mvn@mvn.javacard.pro
          key: ${{ secrets.SSH_KEY }}
          host_fp: SHA256:auiF3nHWvDmvq2stDl+QEECCqMcDp+FY1/bDRnvxpRw
      - name: Release
        if: startsWith(github.ref, 'refs/tags/v') && matrix.java == '17'
        id: create_release
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: |
            tool/target/gp.jar
            tool/target/gp.exe
          fail_on_unmatched_files: true
          body: Release ${{ github.ref_name }}
          prerelease: true # manually promoted
