on:
  push:
    branches:
    - master
    - next
    tags:
    - 'v*'
  pull_request:
    branches:
    - master
name: Build robot
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 11, 17, 21 ]
    name: Java ${{ matrix.java }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4.0.0
      - name: Setup java
        uses: actions/setup-java@v3.12.0
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          cache: maven
      - run: ./mvnw -B -U -T1C verify
      - name: Release
        if: startsWith(github.ref, 'refs/tags/v') && matrix.java == '11'
        id: create_release
        uses: softprops/action-gh-release@v0.1.15
        with:
          files: |
            tool/target/gp.jar
            tool/target/gp.exe
          fail_on_unmatched_files: true
          body: Release ${{ github.ref_name }}
          prerelease: true # manually promoted
      - name: Set SSH key
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
      - name: Add known host key
        run: ssh-keyscan javacard.pro >> ~/.ssh/known_hosts
      - name: Deploy package
        if: (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/next' || github.ref == 'refs/heads/master') && matrix.java == '11'
        run: ./mvnw -B deploy
